@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
}

#root {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

a {
    text-decoration: none;
}

nav {
    background: #FFF7ED;
    display: flex;
    padding: 0 52px;
    justify-content: space-between;
    align-items: center;
    height: 112px;
    position: relative;
    top: 0;
    width: 100%;
    z-index: 100;
}

.nav--logo {
    font-size: 1.5rem;
}

.nav--logo > a {
    color: #000;
}

.nav--tags {
    display: flex;
    list-style: none;
    justify-content: space-evenly;
}

.nav--tags > li {
    padding: 0 13px;
    font-weight: 600;
    font-size: 1rem;
}

.nav--tags > li > a {
    color: #4D4D4D;
}

main {
    position: relative;
    flex-grow: 1;
    color: #fff;
    padding: 65px 52px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.46), rgba(0, 0, 0, 0.46)), url("./assets/home_bg.png");
}

.title {
    font-style: 800;
    font-size: 3.25rem;
    text-align: left;
    line-height: 150%;
    margin-bottom: 52px;
    margin-top: 100px;
}

.text {
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 150%;
}

.link-button {
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    width: 100%;
    height: 75px;
    background: #FF8C38;
    border-radius: 5px;
    color: white;
    font-size: 1.25rem;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    outline: none;
    border: none;
}

footer {
    position: relative;
    bottom: 0;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #252525;
}

.TM {
    font-size: 1.25rem;
    color: #AAAAAA;
}
